@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500;600;700;800&display=swap");
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Urbanist", sans-serif;
}

.zolo-container {
	display: flow-root;
	box-sizing: content-box;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 100px;
}

/* Demo css start  */
:root {
	--badge-free-color: #06d6a0;
	--badge-pro-color: #ff0a77;
	--badge-new-color: #115cfa;
	--badge-popular-color: #ff7613;
}

.zolo-blocks-list-wrap {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(1, 1fr);
}

.zolo-blocks__grid .zolo-block-list-item {
	padding: 40px;
	text-align: center;
}

.zolo-blocks__grid .zolo-block-list-icon {
	width: 60px;
	height: 60px;
	margin: auto;
}
.zolo-blocks__grid .zolo-block-list-title {
	margin: 14px 0 0 0;
	font-size: 18px;
}

.zolo-blocks__grid .zolo-block-type {
	font-size: 11px;
}

.zolo-blocks__grid .zolo-block-type.zolo-popular,
.zolo-blocks__grid .zolo-block-type.zolo-new {
	position: absolute;
	top: 0;
	margin: 30px;
	right: 0;
}

.zolo-blocks__grid .zolo-block-type.zolo-popular,
.zolo-blocks__grid .zolo-block-type.zolo-new {
	font-size: 8px;
	padding: 5px 6px;
	line-height: 1;
	border-radius: 3px;
}

.zolo-blocks__grid .zolo-block-type.zolo-free {
	color: var(--badge-free-color);
}

.zolo-blocks__grid .zolo-block-type.zolo-pro {
	color: var(--badge-pro-color);
}

/* list style css here  */

.zolo-blocks__list .zolo-block-list-item {
	display: flex;
	align-items: center;
	padding: 16px;
	grid-column-gap: 10px;
	overflow: hidden;
}

.zolo-blocks__list .zolo-block-list-badge {
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	grid-gap: 4px;
}

.zolo-blocks__list .zolo-block-type {
	width: 4px;
	height: 4px;
	font-size: 9px;
	border-radius: 100%;
	text-indent: 50px;
	overflow: hidden;
	transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
}

.zolo-blocks__list .zolo-block-list-item:hover .zolo-block-type {
	width: 30px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	border-radius: 2px;
	text-indent: unset;
}

.zolo-blocks__list .zolo-block-list-item:hover .zolo-block-type.zolo-popular {
	width: 50px;
}

.zolo-blocks__list .zolo-block-type.zolo-free {
	color: #fff;
	background-color: var(--badge-free-color);
}

.zolo-blocks__list .zolo-block-type.zolo-pro {
	color: #fff;
	background-color: var(--badge-pro-color);
}

.zolo-block-type.zolo-popular {
	background-color: var(--badge-popular-color);
	color: #fff;
}

.zolo-blocks-list-wrap .zolo-block-list-item {
	background: rgba(252, 252, 252, 0.477);
	text-decoration: none;
	border-radius: 5px;
	position: relative;
	transition: transform 0.3s ease;
	border: 1px solid rgba(12, 11, 12, 0.07);
}

.zolo-blocks-list-wrap .zolo-block-list-item:hover {
	transform: translateY(-5px);
}

.zolo-blocks-list-wrap .zolo-block-list-item:hover .zolo-block-list-title {
	color: #000;
}

.zolo-blocks-list-wrap .zolo-block-list-title {
	color: #4a4a58;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
}

.zolo-blocks-list-wrap .zolo-block-list-icon {
	display: block;
}

.zolo-blocks-list-wrap .zolo-block-type {
	font-weight: 700;
	text-transform: uppercase;
}

.zolo-blocks-list-wrap .zolo-new {
	color: #fff;
	background-color: var(--badge-new-color);
}

.zolo-blocks__list .zolo-block-list-icon {
	width: 30px;
	height: 30px;
}

@media (min-width: 768px) {
	.zolo-blocks-list-wrap {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 1024px) {
	.zolo-blocks-list-wrap {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (min-width: 1440px) {
	.zolo-blocks-list-wrap {
		grid-template-columns: repeat(4, 1fr);
	}
}
